# Binaries
terraform-provider-stonebranch
*.exe
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Test coverage
coverage.out

.env
resources.test
tmp/

# Build output directory (contains sb2tf binary)
bin/
